<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%description"
            name="%pluginName">
         <property
               name="appName"
               value="%appName">
         </property>
         <property
               name="windowImages"
               value="sketch_16.gif,sketch_32.gif,sketch_48.gif,sketch_16.png,sketch_32.png,sketch_48.png">
         </property>
         <property
               name="aboutImage"
               value="logo.png">
         </property>
         <property
               name="aboutText"
               value="%description">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <!-- Remove progress message by settings its width and height to 0 -->
         <property
               name="startupMessageRect"
               value="5,260,0,0">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="introTitle"
               value="%introTitle">
         </property>
         <property
               name="introBrandingImage"
               value="product:intro-eclipse.png">
         </property>
         <property
               name="introBrandingImageText"
               value="%introBrandingImageText">
         </property>
         <property
               name="introDescription-overview"
               value="%introDescription-overview">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.wireframesketcher.studio.product">
      </introProductBinding>
   </extension>
   
    <extension
         point="org.eclipse.ui.activities">

      <activity
            name="%activity.sketching"
            description="%activity.sketching.desc"
            id="com.wireframesketcher.sketching">
      </activity>
  
      <activity
            name="%activity.java"
            description="%activity.java.desc"
            id="org.eclipse.javaDevelopment">
      </activity>
      
      <activity
            name="%activity.plugin"
            description="%activity.plugin.desc"
            id="org.eclipse.plugInDevelopment">
      </activity>
      <activityRequirementBinding
            activityId="org.eclipse.plugInDevelopment"
            requiredActivityId="org.eclipse.javaDevelopment">
      </activityRequirementBinding>
      <activity
            description="%activity.debug.desc"
            id="org.eclipse.debugSupport"
            name="%activity.debug">
      </activity>
      
  
      <activity
            name="%activity.team.cvs"
            description="%activity.team.cvs.desc"
            id="org.eclipse.team.cvs">
         <enabledWhen>
            <reference
                  definitionId="com.wireframesketcher.studio.cvsPluginInstalled">
            </reference>
         </enabledWhen>
      </activity> 
      
      <activity
            name="%activity.team"
            description="%activity.team.desc"
            id="org.eclipse.team">
         <enabledWhen>
            <reference
                  definitionId="com.wireframesketcher.studio.vcsPluginsInstalled">
            </reference>
         </enabledWhen>
      </activity>
      
      <activityPatternBinding
            activityId="com.wireframesketcher.sketching"
            pattern="com\.wireframesketcher\..*/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\.debug/debugModel">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\..*/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\.core/javanature">

      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde\..*/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.debugSupport"
            pattern="org\.eclipse\.debug\.ui/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde/PluginNature">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.team\.ui/org.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.team\.ui/nonbound\.org.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/compareWithPatch">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/compareWithHistory">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/compareWithEachOther">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/addFromHistoryAction">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/replaceFromHistory">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="org.eclipse.team"
            pattern="org\.eclipse\.compare/replaceWithPreviousFromHistory">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="org.eclipse.team.cvs"
            pattern="org\.eclipse\.team\.cvs\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.team.cvs"
            pattern="org\.eclipse\.team\.cvs\.core/.*cvsnature">
      </activityPatternBinding>

      <category
            name="%activity.cat.sketching"
            description="%activity.cat.sketching.desc"
            id="com.wireframesketcher.categories.sketching">
      </category>
      
      <category
            name="%activity.cat.development"
            description="%activity.cat.development.desc"
            id="org.eclipse.categories.developmentCategory">
      </category>

 	  <category
            name="%activity.cat.team"
            description="%activity.cat.team.desc"
            id="org.eclipse.categories.teamCategory">
      </category>

 	  <category
            name="%activity.cat.misc"
            description="%activity.cat.misc.desc"
            id="org.eclipse.categories.miscCategory">
      </category>

      <categoryActivityBinding
            activityId="com.wireframesketcher.sketching"
            categoryId="com.wireframesketcher.categories.sketching">
      </categoryActivityBinding>
      
      <categoryActivityBinding
            activityId="org.eclipse.javaDevelopment"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>
      
      <categoryActivityBinding
            activityId="org.eclipse.plugInDevelopment"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>
       <categoryActivityBinding
             activityId="org.eclipse.debugSupport"
             categoryId="org.eclipse.categories.developmentCategory">
       </categoryActivityBinding>

      <categoryActivityBinding
            activityId="org.eclipse.team"
            categoryId="org.eclipse.categories.teamCategory">
      </categoryActivityBinding>        
      
      <categoryActivityBinding
            activityId="org.eclipse.team.cvs"
            categoryId="org.eclipse.categories.teamCategory">
      </categoryActivityBinding>


      <!-- ant -->      
  
       <activity
             description="%activity.ant.desc"
             id="org.eclipse.antDevelopment"
             name="%activity.ant">
       </activity>
       <activityPatternBinding
             activityId="org.eclipse.antDevelopment"
             pattern="org\.eclipse\.ant\.ui/.*">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.antDevelopment"
             pattern="org\.eclipse\.ui\.externaltools/.*">
       </activityPatternBinding>
       <categoryActivityBinding
             activityId="org.eclipse.antDevelopment"
             categoryId="org.eclipse.categories.developmentCategory">
       </categoryActivityBinding>

      <!-- search -->      
  
       <activity
             description="%activity.search.desc"
             id="org.eclipse.search"
             name="%activity.search">
       </activity>
       <activityPatternBinding
             activityId="org.eclipse.search"
             pattern="org\.eclipse\.search/.*">
       </activityPatternBinding>
       <categoryActivityBinding
             activityId="org.eclipse.search"
             categoryId="org.eclipse.categories.miscCategory">
       </categoryActivityBinding>

      <!-- cheatsheets -->      

       <activity
             description="%activity.cheatsheets.desc"
             id="org.eclipse.cheatsheets"
             name="%activity.cheatsheets">
       </activity>
       <activityPatternBinding
             activityId="org.eclipse.cheatsheets"
             pattern="org\.eclipse\.platform/org\.eclipse\.ui\.cheatsheets.*">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.cheatsheets"
             pattern="org\.eclipse\.ui\.cheatsheets/.*">
       </activityPatternBinding>
       <categoryActivityBinding
             activityId="org.eclipse.cheatsheets"
             categoryId="org.eclipse.categories.miscCategory">
       </categoryActivityBinding>

      <!-- editing -->      

       <activity
             description="%activity.editing.desc"
             id="org.eclipse.editing"
             name="%activity.editing">
       </activity>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.actionSet\.convertLineDelimitersTo">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.delimiter\..*">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.actionSet\.navigation">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.actionSet\.annotationNavigation">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoNextAnnotation">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.editing"
             pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoPreviousAnnotation">
       </activityPatternBinding>
       <categoryActivityBinding
             activityId="org.eclipse.editing"
             categoryId="org.eclipse.categories.miscCategory">
       </categoryActivityBinding>

      <!-- IDE -->      

       <activity
             description="%activity.ide.desc"
             id="org.eclipse.ide"
             name="%activity.ide">
       </activity>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide\.application/org\.eclipse\.ui\.file\.restartWorkbench">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.BookmarkView">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.TaskList">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.ProblemView">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.AllMarkersView">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.ResourceNavigator">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\.ProgressView">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.FileSystem">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.Preferences">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.export\.FileSystem">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.export\.Preferences">
       </activityPatternBinding>
       
       <!-- IDE: hide preference pages -->
       
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.help\.ui/org\.eclipse\.help\.ui\.browsersPreferencePage">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.help\.ui/org\.eclipse\.help\.ui\.contentPreferencePage">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.Views">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.Editors">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.Perspectives">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.FileEditors">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.Workspace">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.ContentTypes">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.ide\.application/org\.eclipse\.ui\.preferencePages\.Startup">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.jsch\.ui/org\.eclipse\.jsch\.ui\.SSHPreferences">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.equinox\.security\.ui/org\.eclipse\.equinox\.security\.ui\.category">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.compare/org\.eclipse\.compare\.internal\.ComparePreferencePage">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="org.eclipse.ide"
             pattern="org\.eclipse\.ui\.browser/org\.eclipse\.ui\.browser\.preferencePage">
       </activityPatternBinding>
       <categoryActivityBinding
             activityId="org.eclipse.ide"
             categoryId="org.eclipse.categories.miscCategory">
       </categoryActivityBinding>

      <!-- default activities -->      
       
      <defaultEnablement
            id="com.wireframesketcher.sketching">
      </defaultEnablement>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="com.wireframesketcher.ui.wizards.NewProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="com.wireframesketcher.ui.wizards.ScreenNewWizard">
      </primaryWizard>
      <primaryWizard
            id="com.wireframesketcher.ui.wizards.StoryNewWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.ui.wizards.new.folder">
      </primaryWizard>
   </extension>
   
   
      <extension
            point="org.eclipse.ui.activitySupport">
      <triggerPointAdvisor
            id="org.eclipse.ui.ide.triggerPointAdvisor">
            <class class="org.eclipse.ui.activities.WorkbenchTriggerPointAdvisor">
            	<parameter name="proceedMulti" value="%TriggerPointAdvisor.proceedMulti" />
            	<parameter name="proceedSingle" value="%TriggerPointAdvisor.proceedSingle" />
            	<parameter name="dontAsk" value="%TriggerPointAdvisor.dontAsk" />
            	<parameter name="noDetails" value="%TriggerPointAdvisor.noDetails" />
            </class>
      </triggerPointAdvisor>
   </extension>   
   
   <extension
         point="org.eclipse.ui.activitySupport">
      <triggerPointAdvisorProductBinding
            productId="com.wireframesketcher.studio.product"
            triggerPointAdvisorId="org.eclipse.ui.ide.triggerPointAdvisor"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.wireframesketcher.ui.perspective">
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <hiddenMenuItem
               id="org.eclipse.ui.edit.addTask">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.edit.addBookmark">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.edit.findReplace">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.help.helpSearch">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.newEditor">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.savePerspective">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.closePerspective">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.closeAllPerspectives">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.nextPerspective">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.previousPerspective">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.showViewMenu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.file.revert">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.quickAccess">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.showSystemMenu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.activateEditor">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.nextView">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.previousView">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.edit.text.openLocalFile">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.window.showKeyAssist">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="import"
            wizardId="org.eclipse.ui.wizards.import.ZipFile">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="zBottom"
            type="export"
            wizardId="org.eclipse.ui.wizards.export.ZipFile">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.wireframesketcher.studio.vcsPluginsInstalled">
         <with
               variable="org.eclipse.core.runtime.Platform">
            <or>
               <test
                     args="org.tigris.subversion.subclipse.ui"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="org.eclipse.team.svn.ui"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="org.eclipse.team.cvs.ui"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="org.eclipse.egit"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="com.vectrace.MercurialEclipse"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="com.microsoft.tfs.client.eclipse.ui"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="com.perforce.team.ui"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="com.dynamsoft.sawplugin"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="com.codicesoftware.eclipse"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
               <test
                     args="com.accurev.eclipse.core"
                     property="org.eclipse.core.runtime.isBundleInstalled">
               </test>
            </or>
         </with>
      </definition>
      <definition
            id="com.wireframesketcher.studio.cvsPluginInstalled">
         <with
               variable="org.eclipse.core.runtime.Platform">
            <test
                  args="org.eclipse.team.cvs.ui"
                  property="org.eclipse.core.runtime.isBundleInstalled">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.help.base.display">
      <display
            class="com.wireframesketcher.studio.HelpDisplay">
      </display>
   </extension>
   
</plugin>
